<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/integration</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>./tests/e2e</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory>./app/Views</directory>
            <file>./app/Config/Routes.php</file>
        </exclude>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>

    <php>
        <env name="CI_ENVIRONMENT" value="testing"/>
        <env name="app.baseURL" value="http://localhost:8080/"/>

        <!-- Database -->
        <env name="database.tests.hostname" value="127.0.0.1"/>
        <env name="database.tests.database" value="ponto_eletronico_test"/>
        <env name="database.tests.username" value="root"/>
        <env name="database.tests.password" value="root"/>
        <env name="database.tests.DBDriver" value="MySQLi"/>
        <env name="database.tests.DBPrefix" value=""/>

        <!-- Redis -->
        <env name="redis.default.host" value="127.0.0.1"/>
        <env name="redis.default.port" value="6379"/>

        <!-- Session -->
        <env name="session.driver" value="CodeIgniter\Session\Handlers\ArrayHandler"/>

        <!-- Email -->
        <env name="email.protocol" value="null"/>
    </php>
</phpunit>
